@charset "utf-8";



/**
 * ================================================================================
 *  FORM LAYOUT
 * ================================================================================
 */

/**
 * ----------------------------------------
 *  FORM FIELD LAYOUT
 * ----------------------------------------
 */

/* COMMON */
.field-container,
.field {
    width: 100%;
}

/* CONTAINER */
.field-container {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-lg) var(--spacing-none);
}
.field-container:first-child {
    margin-top: var(--spacing-none);
}
.field-container:last-child {
    margin-bottom: var(--spacing-none);
}


.field:not(:last-child) {
    margin-bottom: var(--spacing-sm);
}



/**
 * ================================================================================
 *  FORM ELEMENNTS
 * ================================================================================
 */













