@charset "UTF-8";




@font-face {
    font-family: 'GmarketSans-Medium';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(/fonts/GmarketSans-Medium.woff2) format('woff2')
         url(/fonts/GmarketSans-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard-Light';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(/fonts/Pretendard-Light.woff2) format('woff2')
         url(/fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/Pretendard-Regular.woff2) format('woff2')
         url(/fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard-Medium';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(/fonts/Pretendard-Medium.woff2) format('woff2')
         url(/fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url(/fonts/Montserrat-ExtraBold.woff2) format('woff2')
         url(/fonts/Montserrat-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat-Black';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url(/fonts/Montserrat-Black.woff2) format('woff2')
         url(/fonts/Montserrat-Black.woff) format('woff');
}




:root {
    /**
     * -----------------------------------
     *  COLORS
     * -----------------------------------
     */
    --color-primary: #6B5ACD;
    --color-secondary: #9C87FE;
    --color-accent: #1486FF;
    --color-success: #55B980;
    --color-warning: #FBCA77;
    --color-danger: #EE585B;
    --color-light: #F8F8F9;
    --color-dark: #484757;

    --white: #FFFFFF;
    --gray-100: #F8F9FA;
    --gray-200: #E9ECEF;
    --gray-300: #DEE2E6;
    --gray-400: #CED4DA;
    --gray-500: #ADB5BD;
    --gray-600: #6C6B7E;
    --gray-700: #495057;
    --gray-800: #343A40;
    --gray-900: #212529;
    --black: #1E2224;


    /**
     * -----------------------------------
     *  SPACING
     * -----------------------------------
     */
    --space-scale: 0.25;
    --space-unit: 16px;

    --space-none: calc(var(--space-unit) * calc(var(--space-scale) * ));
    --space-xxxs: calc(var(--space-unit) * calc(var(--space-scale) * ));
    --space-xxs: calc(var(--space-unit) * calc(var(--space-scale) * ));
    --space-xs: calc(var(--space-unit) * calc(var(--space-scale) * ));
}






























































































































