@charset "utf-8";



/**
 * ================================================================================
 *  COMMON
 * ================================================================================
 */

/**
 * ----------------------------------------
 *  ENTIRE PAGE CONTAINER
 * ----------------------------------------
 */

#wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}


/**
 * ----------------------------------------
 *  SIDE MENU + MAIN CONTENTS CONTAINER
 * ----------------------------------------
 */

#container {
    display: flex;
    flex: 1;
}

#contents {
    width: 68%;
    padding: var(--spacing-xs);
}


/**
 * ----------------------------------------
 *  FOOTER
 * ----------------------------------------
 */

#footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-xxxl);
    background-color: var(--gray-200);
}

#footer .copy {
    font-size: var(--font-size-xs);
    color: var(--gray-500);
}

#footer .icon-container > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
    padding: var(--spacing-xs);
    border-radius: 50%;
    border: var(--border-width-normal) solid var(--color-primary);
}

#footer .icon-container > a .icon {
    font-size: var(--font-base-size);
    color: var(--color-primary);
}



/**
 * ================================================================================
 *  MEDIA-QUERY
 * ================================================================================
 */





