@charset "utf-8";



/**
 * ================================================================================
 *  DISPLAY
 * ================================================================================
 */

.is-none {
    display: none;
}

.is-inline-block {
    display: inline-block;
}

.is-block {
    display: block;
}

.is-inline-flex {
    display: inline-flex;
}

.is-flex {
    display: flex;
}



/**
 * ================================================================================
 *  FLEX
 * ================================================================================
 */

/**
 * ----------------------------------------
 *  ALIGNMENT
 * ----------------------------------------
 */

/* VERTICAL */
.flex-col {
    flex-direction: column;
}

.vertical-align-start {
    align-items: flex-start;
    justify-content: center;
}

.vertical-align-middle {
    align-items: center;
}

.vertical-align-end {
    align-items: flex-end;
    justify-content: center;
}

/* HORIZONTAL */
.flex-row {
    flex-direction: row;
}

.horizontal-align-start {
    justify-content: flex-start;
    align-items: center;
}

.horizontal-align-middle {
    justify-content: center;
}

.horizontal-align-end {
    justify-content: flex-end;
    align-items: center;
}

.horizontal-align-space-between {
    justify-content: space-between;
    align-items: center;
}

.horizonal-align-space-around {
    justify-content: space-around;
    align-items: center;
}

/* CENTER */
.flex-col.align-centered,
.flex-row.align-centered {
    justify-content: center;
    align-items: center;
}



/**
 * ================================================================================
 *  STATE / MODIFIER
 * ================================================================================
 */

.is-grouped {
    flex-direction: row;
    gap: var(--spacing-none) var(--spacing-lg);
}

.is-fluid {
    width: auto;
}



/**
 * ================================================================================
 *  SIZE
 * ================================================================================
 */

.is-xsmall {
    width: var(--size-xs);
}

.is-small {
    width: var(--size-sm);
}

.is-medium {
    width: var(--size-md);
}

.is-large {
    width: var(--size-lg);
}

.is-xlarge {
    width: var(--size-xl);
}



/**
 * ================================================================================
 *  SPACING
 * ================================================================================
 */

/**
 * ----------------------------------------
 *  MARGIN
 * ----------------------------------------
 */

/* TOP */
.mt-0 {
    margin-top: var(--spacing-none) !important;
}
.mt-1 {
    margin-top: var(--spacing-xxxs) !important;
}
.mt-2 {
    margin-top: var(--spacing-xxs) !important;
}
.mt-3 {
    margin-top: var(--spacing-xs) !important;
}
.mt-4 {
    margin-top: var(--spacing-sm) !important;
}
.mt-5 {
    margin-top: var(--spacing-md) !important;
}
.mt-6 {
    margin-top: var(--spacing-lg) !important;
}
.mt-7 {
    margin-top: var(--spacing-xl) !important;
}
.mt-8 {
    margin-top: var(--spacing-xxl) !important;
}

/* BOTTOM */
.mb-0 {
    margin-bottom: var(--spacing-none) !important;
}
.mb-1 {
    margin-bottom: var(--spacing-xxxs) !important;
}
.mb-2 {
    margin-bottom: var(--spacing-xxs) !important;
}
.mb-3 {
    margin-bottom: var(--spacing-xs) !important;
}
.mb-4 {
    margin-bottom: var(--spacing-sm) !important;
}
.mb-5 {
    margin-bottom: var(--spacing-md) !important;
}
.mb-6 {
    margin-bottom: var(--spacing-lg) !important;
}
.mb-7 {
    margin-bottom: var(--spacing-xl) !important;
}
.mb-8 {
    margin-bottom: var(--spacing-xxl) !important;
}

/* AUTO */
.m-auto {
    margin: auto !important;
}


/**
 * ----------------------------------------
 *  PADDING
 * ----------------------------------------
 */

/* ALL */
.p-0 {
    padding: var(--spacing-none) !important;
}
.p-1 {
    padding: var(--spacing-xxxs) !important;
}
.p-2 {
    padding: var(--spacing-xxs) !important;
}
.p-3 {
    padding: var(--spacing-xs) !important;
}
.p-4 {
    padding: var(--spacing-sm) !important;
}
.p-5 {
    padding: var(--spacing-md) !important;
}
.p-6 {
    padding: var(--spacing-lg) !important;
}
.p-7 {
    padding: var(--spacing-xl) !important;
}
.p-8 {
    padding: var(--spacing-xxl) !important;
}

/* TOP */
.pt-0 {
    padding-top: var(--spacing-none) !important;
}
.pt-1 {
    padding-top: var(--spacing-xxxs) !important;
}
.pt-2 {
    padding-top: var(--spacing-xxs) !important;
}
.pt-3 {
    padding-top: var(--spacing-xs) !important;
}
.pt-4 {
    padding-top: var(--spacing-sm) !important;
}
.pt-5 {
    padding-top: var(--spacing-md) !important;
}
.pt-6 {
    padding-top: var(--spacing-lg) !important;
}
.pt-7 {
    padding-top: var(--spacing-xl) !important;
}
.pt-8 {
    padding-top: var(--spacing-xxl) !important;
}

/* BOTTOM */
.pb-0 {
    padding-bottom: var(--spacing-none) !important;
}
.pb-1 {
    padding-bottom: var(--spacing-xxxs) !important;
}
.pb-2 {
    padding-bottom: var(--spacing-xxs) !important;
}
.pb-3 {
    padding-bottom: var(--spacing-xs) !important;
}
.pb-4 {
    padding-bottom: var(--spacing-sm) !important;
}
.pb-5 {
    padding-bottom: var(--spacing-md) !important;
}
.pb-6 {
    padding-bottom: var(--spacing-lg) !important;
}
.pb-7 {
    padding-bottom: var(--spacing-xl) !important;
}
.pb-8 {
    padding-bottom: var(--spacing-xxl) !important;
}

/* VERTICAL */
.pv-1 {
    padding: var(--spacing-xxxs) var(--spacing-none) !important;
}
.pv-2 {
    padding: var(--spacing-xxs) var(--spacing-none) !important;
}
.pv-3 {
    padding: var(--spacing-xs) var(--spacing-none) !important;
}
.pv-4 {
    padding: var(--spacing-sm) var(--spacing-none) !important;
}
.pv-5 {
    padding: var(--spacing-md) var(--spacing-none) !important;
}
.pv-6 {
    padding: var(--spacing-lg) var(--spacing-none) !important;
}
.pv-7 {
    padding: var(--spacing-xl) var(--spacing-none) !important;
}
.pv-8 {
    padding: var(--spacing-xxl) var(--spacing-none) !important;
}

/* LEFT */
.ps-0 {
    padding-left: var(--spacing-none) !important;
}
.ps-1 {
    padding-left: var(--spacing-xxxs) !important;
}
.ps-2 {
    padding-left: var(--spacing-xxs) !important;
}
.ps-3 {
    padding-left: var(--spacing-xs) !important;
}
.ps-4 {
    padding-left: var(--spacing-sm) !important;
}
.ps-5 {
    padding-left: var(--spacing-md) !important;
}
.ps-6 {
    padding-left: var(--spacing-lg) !important;
}
.ps-7 {
    padding-left: var(--spacing-xl) !important;
}
.ps-8 {
    padding-left: var(--spacing-xxl) !important;
}

/* RIGHT */
.pe-0 {
    padding-right: var(--spacing-none) !important;
}
.pe-1 {
    padding-right: var(--spacing-xxxs) !important;
}
.pe-2 {
    padding-right: var(--spacing-xxs) !important;
}
.pe-3 {
    padding-right: var(--spacing-xs) !important;
}
.pe-4 {
    padding-right: var(--spacing-sm) !important;
}
.pe-5 {
    padding-right: var(--spacing-md) !important;
}
.pe-6 {
    padding-right: var(--spacing-lg) !important;
}
.pe-7 {
    padding-right: var(--spacing-xl) !important;
}
.pe-8 {
    padding-right: var(--spacing-xxl) !important;
}

/* HORIZONTAL */
.ph-1 {
    padding: var(--spacing-none) var(--spacing-xxxs) !important;
}
.ph-2 {
    padding: var(--spacing-none) var(--spacing-xxs) !important;
}
.ph-3 {
    padding: var(--spacing-none) var(--spacing-xs) !important;
}
.ph-4 {
    padding: var(--spacing-none) var(--spacing-sm) !important;
}
.ph-5 {
    padding: var(--spacing-none) var(--spacing-md) !important;
}
.ph-6 {
    padding: var(--spacing-none) var(--spacing-lg) !important;
}
.ph-7 {
    padding: var(--spacing-none) var(--spacing-xl) !important;
}
.ph-8 {
    padding: var(--spacing-none) var(--spacing-xxl) !important;
}


/**
 * ----------------------------------------
 *  GAP
 * ----------------------------------------
 */

/* ALL */
.gap-0 {
    gap: var(--spacing-none) !important;
}
.gap-1 {
    gap: var(--spacing-xxxs) !important;
}
.gap-2 {
    gap: var(--spacing-xxs) !important;
}
.gap-3 {
    gap: var(--spacing-xs) !important;
}
.gap-4 {
    gap: var(--spacing-sm) !important;
}
.gap-5 {
    gap: var(--spacing-md) !important;
}
.gap-6 {
    gap: var(--spacing-lg) !important;
}
.gap-7 {
    gap: var(--spacing-xl) !important;
}
.gap-8 {
    gap: var(--spacing-xxl) !important;
}

/* VERTICAL */
.gap-v-1 {
    gap: var(--spacing-xxxs) var(--spacing-none) !important;
}
.gap-v-2 {
    gap: var(--spacing-xxs) var(--spacing-none) !important;
}
.gap-v-3 {
    gap: var(--spacing-xs) var(--spacing-none) !important;
}
.gap-v-4 {
    gap: var(--spacing-sm) var(--spacing-none) !important;
}
.gap-v-5 {
    gap: var(--spacing-md) var(--spacing-none) !important;
}
.gap-v-6 {
    gap: var(--spacing-lg) var(--spacing-none) !important;
}
.gap-v-7 {
    gap: var(--spacing-xl) var(--spacing-none) !important;
}
.gap-v-8 {
    gap: var(--spacing-xxl) var(--spacing-none) !important;
}

/* HORIZONTAL */
.gap-h-1 {
    gap: var(--spacing-none) var(--spacing-xxxs) !important;
}
.gap-h-2 {
    gap: var(--spacing-none) var(--spacing-xxs) !important;
}
.gap-h-3 {
    gap: var(--spacing-none) var(--spacing-xs) !important;
}
.gap-h-4 {
    gap: var(--spacing-none) var(--spacing-sm) !important;
}
.gap-h-5 {
    gap: var(--spacing-none) var(--spacing-md) !important;
}
.gap-h-6 {
    gap: var(--spacing-none) var(--spacing-lg) !important;
}
.gap-h-7 {
    gap: var(--spacing-none) var(--spacing-xl) !important;
}
.gap-h-8 {
    gap: var(--spacing-none) var(--spacing-xxl) !important;
}